params {
    samples = 'config/chipseq_samples.tsv'
    outdir = 'results/chipseq_pipeline'
    reference_fasta = '/path/to/reference/genome.fa'
    bwa_index_prefix = '/path/to/reference/index_basename'
    min_mapq = 30
    exclude_flags = 3332
    make_bigwig = true
    make_bamcompare = true
    effective_genome_size = 2913022398
}
